@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --light-pink: #EFD4F7;
    --dark-purpel: #8601AF;
    --light-purpel: #C21460;
    --orange-dark: #FE2712;
    --dark-brown: #340D09;
    --font-style: 'Lobster', cursive;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

.logo-subcontent {
    color: white;
    font-style: normal;
    font-family: var(--font-style);
}

.nav-link {
    margin: 0px 25px;
}